/* .login-page {
    --background: url('C:/Users/kaila/Desktop/Projects/try-app/src/assets/bgreg.png') no-repeat center center;
    --background-size: cover; 

   
  } */


*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  .background{
    
    position:relative;
    left:-30px;
    top: -10%;
    margin-bottom: -50%;
    z-index: 1;
    height: 100%;
    max-width: auto;
   
  

    

    
      }


  .register-header {
    position:relative;
    text-align: right;
    padding: 2rem;
    margin-right: 4%;
    margin-bottom: -15%;
  margin:auto;
    z-index: 2;

  }
  



  .register-title {
    font-size: 4.5rem;
    font-weight: bolder;
    margin-bottom: -20px;
    color: #21757F;
  }
  
  .register-subtext {
    width: 45%;
    margin-left:55%;
    font-size: 1.3rem;
    color: #032023;
    
  }

  .table-row {
    display: flex;
    flex-wrap: wrap;
  }

  .columns{
    padding:10px;
    flex: 1 0 10%;
  }




.register-form  {
  position: relative;
    width:55%;
    margin-top:1%;
    margin-left:20%;
z-index: 2;
  }

ion-col{
    margin-top: 2%;
}

.labelform{
    font-size: 15px;
    color: #737373;
}

.required{
    color:red;
    margin-left: 10px;
}

.register-button{
  position: relative;
    max-width: 200px;
    margin-left: 70% ;
    margin-top: 3%;
    z-index: 2;
}

.regbutton{
  position: relative;
    max-width: 200px;
    margin-left: 76% ;
    margin-top: 3%;
    z-index: 2;

}


@media (max-width: 576px), (max-width:800px) {

/*   .login-page {
    --background: url('C:/Users/kaila/Desktop/Projects/try-app/src/assets/longregphone.png') no-repeat center top;
    --background-cover: cover;
    
    
  } */

/*   img {
    content: url("/path/here/to/image.png");
} */

.background{
  content: url("/assets/bg-reg-p.png");
  max-width: fit-content;
  top:-6%;

  
    }


  .register-header {
    text-align: center;
    padding: 2rem;
    margin-right: -5%;
    top: -40%;

  }
  
  .register-title {
    font-size: 2.7rem;
    font-weight: bolder;
    margin-bottom: -10px;
    color: #21757F;
  }
    
  .register-subtext {
    width: 70%;
    margin-left: 14%;
    font-size: 1.3rem;
    color: #032023;
  }



  
.register-form  {
  width:105%;
  top:-40%;
margin-left: -20%;


.labelform{
  font-size: 15px;
  color: #737373;
}
  


}

.table-row{
  display: flex;
  flex-wrap:nowrap;
 
 
}

.columns{
  padding: 1px;
  font-size: 9px;
  flex: 4 0 25%;
  margin-left: 0.5%;

  
}



ion-col{
margin-left: 25%;
}


.register-button{
  max-width: 300px;
  margin-left: 3% ;
  top: -20%;
}

.regbutton{
  padding: 1px;
  font-size: 10px;
  max-width: 200px;
  margin-left: 35% ;
  top: -20%;
}

.business{
  margin-top: -50px;
}


}
