

<ion-content class="ion-padding login-page">

  <img class="background" src="assets/bp-reg-est.png" style="top:-1%;"/>
  <div class="register-header">
    <h1 class="register-title">Register Establishment</h1>
    <p class="register-subtext">Boost Your Business with TourEase! Register your establishment and unlock a world of promotion opportunities.</p>
  </div>



  <ion-list class="register-form">
    <!-- First row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Name of Establishment<span class="required">*</span></ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform">Your position in this establishment<span class="required">*</span></ion-label>
          <ion-select required>
            <ion-select-option value="Owner">Owner</ion-select-option>
            <ion-select-option value="Representatives">Representatives</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform">Your position in this establishment<span class="required">*</span></ion-label>
          <ion-select required>
            <ion-select-option value="Owner">Owner</ion-select-option>
            <ion-select-option value="Representatives">Representatives</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform">Your position in this establishment<span class="required">*</span></ion-label>
          <ion-select required>
            <ion-select-option value="Owner">Owner</ion-select-option>
            <ion-select-option value="Representatives">Representatives</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform">Your position in this establishment<span class="required">*</span></ion-label>
          <ion-select required>
            <ion-select-option value="Owner">Owner</ion-select-option>
            <ion-select-option value="Representatives">Representatives</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Second row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Enter the Establishment Location<span class="required">*</span></ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Third row -->
   

    <!-- Fourth row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform">Exact Address<span class="required">*</span></ion-label>
          <ion-textarea required></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Fifth row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Username<span class="required">*</span></ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Sixth row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Password<span class="required">*</span></ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Re-enter Password<span class="required">*</span></ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-button expand="block" shape="round" size="large" color="primary" class="register-button">Register</ion-button>
</ion-content>