

<ion-content  [fullscreen]="true" class="ion-padding login-page">

  <img class="background" src="assets/bp-reg-est.png"/>
  <div class="register-header">
    <h1 class="register-title">Register Establishment</h1>
    <p class="register-subtext">Boost Your Business with TourEase! Register your establishment and unlock a world of promotion opportunities.</p>
  </div>


  <form name="regForm" [(ngModel)]="estRegForm" (ngSubmit)="registerEst(regForm.invalid)" #regForm="ngForm">
  <ion-list class="register-form">
    <!-- First row -->
    <ion-row>
      <ion-col>
        <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">USER INFORMATION</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Last Name<span class="required">*</span></ion-label>
          <ion-input #lastName = "ngModel" type="text" [(ngModel)] ='lname' name="lname" required></ion-input>
          <ion-note slot="error" *ngIf="lastName.invalid && regForm.submitted">Please enter a valid name.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">First Name<span class="required">*</span></ion-label>
          <ion-input #firstName = "ngModel" type="text" [(ngModel)] ='fname' name="fname" required></ion-input>
          <ion-note slot="error" *ngIf="firstName.invalid && regForm.submitted">Please enter a valid name.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform"position="floating" >Middle Name</ion-label>
          <ion-input #midName = "ngModel" type="text" [(ngModel)] ='mname' name="mname"></ion-input>
          <ion-note slot="error" *ngIf="midName.invalid && regForm.submitted">Please enter a valid name.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Contact Number<span class="required">*</span></ion-label>
          <ion-input #con = "ngModel" type="text" [(ngModel)] ='contact' name="contact" required></ion-input>
          <ion-note slot="error" *ngIf="con.invalid && regForm.submitted">Please enter a valid input.</ion-note>
          </ion-item>
          
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating" >Email Address<span class="required">*</span></ion-label>
          <ion-input #mail = "ngModel" type="text" [(ngModel)] ='email' name="email" required></ion-input>
          <ion-note slot="error" *ngIf="mail.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating" >Business Username<span class="required">*</span></ion-label>
          <ion-input #bUsername = "ngModel" type="text" [(ngModel)] ='buname' name="buname" required></ion-input>
          <ion-note slot="error" *ngIf="bUsername.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating" >Business Password<span class="required">*</span></ion-label>
          <ion-input #bPass = "ngModel" type="password" [(ngModel)] ='bpword' name="bpword" required></ion-input>
          <ion-note slot="error" *ngIf="bPass.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating" >Confirm Password<span class="required">*</span></ion-label>
          <ion-input #bPass2 = "ngModel" type="password" [(ngModel)] ='bpword2' name="bpword2" required></ion-input>
          <ion-note slot="error" *ngIf="bPass2.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">ESTABLISHMENT INFORMATION</h1>
        <ion-item>
          <ion-label class="labelform" position="floating">Name of Establishment<span class="required">*</span></ion-label>
          <ion-input #buName = "ngModel" type="text" [(ngModel)] ='est_name' name="est_name" required></ion-input>
          <ion-note slot="error" *ngIf="buName.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform">Your position in this establishment<span class="required">*</span></ion-label>
          <ion-select #position = "ngModel" name="pos" [(ngModel)] ='pos' required>
            <ion-select-option value="Owner">Owner</ion-select-option>
            <ion-select-option value="Representative">Representative</ion-select-option>
            <ion-select-option value="Employee">Employee</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
          <ion-note slot="error" *ngIf="position.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Second row -->
    <ion-row>
      <ion-col>
        <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">LOCATION</h1>
        <ion-item>
          <ion-input label="Province" #province = "ngModel" name="locProvince" [(ngModel)]="locProvince"type="text" [readonly] ="true" labelPlacement="floating" required></ion-input>
          <ion-note slot="error" *ngIf="province.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

    <div>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelform" position="floating">City/Municipality<span class="required">*</span></ion-label>
            <ion-select #city = "ngModel" required (ionChange) ="changeBgy()"  [(ngModel)]="locCity" name ="locCity" required>
              <ion-select-option *ngFor = "let cities of batangasCities" [value]="cities.name">{{cities.name}}</ion-select-option>
            </ion-select>
            <ion-note slot="error" *ngIf="city.invalid && regForm.submitted">Please enter a valid input.</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="locCity">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelform" position="floating">Barangay<span class="required">*</span></ion-label>
            <ion-select #barangay = "ngModel" required  [(ngModel)]="locBgy" name = "locBgy">
              <ion-select-option *ngFor = "let brgy of chosenCity" [value]="brgy.name">{{brgy.name}}</ion-select-option>
            </ion-select>
            <ion-note slot="error" *ngIf="barangay.invalid && regForm.submitted">Please enter a valid input.</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="locBgy">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelform" position="floating">Address Line 1<span class="required">*</span></ion-label>
            <ion-input #ad1 = "ngModel" name="locAd1" [(ngModel)]="locAd1" type="text" required></ion-input>
            <ion-note slot="error" *ngIf="ad1.invalid && regForm.submitted">Please enter a valid input.</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    
    <div *ngIf="locAd1">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelform" position="floating">Address Line 2<span class="required">*</span></ion-label>
            <ion-input #ad2 = "ngModel" name = "locAd2" [(ngModel)]="locAd2" type="text" required></ion-input>
            <ion-note slot="error" *ngIf="ad2.invalid && regForm.submitted">Please enter a valid input.</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">OPERATING HOURS & DAYS</h1>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">From<span class="required">*</span></ion-label>
          <ion-select #operatingFrom = "ngModel" name="oh-from" [(ngModel)] ='oh_from' required>
            <ion-select-option *ngFor="let times of times" [value]="times.value">{{ times.value }}</ion-select-option>
          </ion-select>
          <ion-note slot="error" *ngIf="operatingFrom.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="to">
          <ion-label class="labelform" position="floating">To<span class="required">*</span></ion-label>
          <ion-select #operatingTo = "ngModel" name="oh_to" [(ngModel)] ='oh_to' required>
            <ion-select-option *ngFor="let times of times" [value]="times.value">{{ times.value }}</ion-select-option>
          </ion-select>
          <ion-note slot="error" *ngIf="operatingTo.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="labelform">
          <ion-label>Days Open</ion-label>
        </ion-item>
    
      <ion-item class="labelform">
        <ion-label>Monday</ion-label>
        <ion-checkbox name="monday" [(ngModel)]="monday"></ion-checkbox>
      </ion-item>
    
      <ion-item class="labelform">
        <ion-label>Tuesday</ion-label>
        <ion-checkbox name="tuesday" [(ngModel)]="tuesday"></ion-checkbox>
      </ion-item>
    
      <ion-item class="labelform">
        <ion-label>Wednesday</ion-label>
        <ion-checkbox name="wednesday" [(ngModel)]="wednesday"></ion-checkbox>
      </ion-item>
    
      <ion-item class="labelform">
        <ion-label>Thursday</ion-label>
        <ion-checkbox name="thursday" [(ngModel)]="thursday"></ion-checkbox>
      </ion-item>
    
      <ion-item class="labelform">
        <ion-label>Friday</ion-label>
        <ion-checkbox name="friday" [(ngModel)]="friday"></ion-checkbox>
      </ion-item>
    
      <ion-item class="labelform">
        <ion-label>Saturday</ion-label>
        <ion-checkbox name="saturday" [(ngModel)]="saturday"></ion-checkbox>
      </ion-item>
    
      <ion-item class="labelform">
        <ion-label>Sunday</ion-label>
        <ion-checkbox name="sunday" [(ngModel)]="sunday"></ion-checkbox>
      </ion-item>
      </ion-col>
    </ion-row>
    <br><br>

    <ion-row>
      <ion-col>
        <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">CONTACT DETAILS</h1>
        </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelform" position="floating">Name<span class="required">*</span></ion-label>
            <ion-input #conName = "ngModel" [(ngModel)]="contact_name" name="contact_name" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin-top: 19px;">
          <ion-item>
            <ion-label class="labelform" position="floating">Position<span class="required">*</span></ion-label>
            <ion-select #conPos = "ngModel" [(ngModel)]="contact_pos" name="contact_pos" required>
              <ion-select-option value="Owner">Owner</ion-select-option>
              <ion-select-option value="Representatives">Representative</ion-select-option>
              <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="labelform" position="floating">Contact Number<span class="required">*</span></ion-label>
            <ion-input #conNum = "ngModel" [(ngModel)]="contact_number" name="contact_number" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelform" position="floating">Email Address (Personal)</ion-label>
            <ion-input #conMail = "ngModel" [(ngModel)]="contact_email" name="contact_email" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-button expand="block" shape="round" size="medium" color="primary" class="regbutton" (click) = "addContact()">Add Contact Person</ion-button>
 -->
    <ion-row>
      <ion-col>
        <ion-item>
          <br><br><br>
          <ion-label class="labelform" position="floating">External Website/Link<span class="required">*</span></ion-label>
          <ion-input #externalLink = "ngModel" name="ex_link" type="text" [(ngModel)] ='ex_link' required></ion-input>
          <ion-note slot="error" *ngIf="externalLink.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col>
        <br><br><br>
        <ion-item class="business">
          <ion-label class="labelform" position="floating">Business Email<span class="required">*</span></ion-label>
          <ion-input #buMail = "ngModel" name="b_email" type="text" [(ngModel)] ='b_email' required></ion-input>
          <ion-note slot="error" *ngIf="buMail.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <br><h1 style="font-size: 18px; color: #21757F; font-weight: bold;">CATEGORY</h1><br>
        <ion-item>
          <ion-label style="color: #21757F; font-weight: bold; font-size: 16px;">Category</ion-label>
          <ion-select #categ = "ngModel" name="selectedCategory.name"  style="color: #21757F; font-weight: bold; font-size: 16px;" [(ngModel)]="selectedCategory.name" (ionChange)="onCategoryChange()" required>
            <ion-select-option  *ngFor="let category of categories" [value]="category.name">{{ category.name }}</ion-select-option>
          </ion-select>
          <ion-note slot="error" *ngIf="categ.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

  
           <!-- Render the appropriate form fields based on the selected category -->

    <ion-row>
      <ion-col>
        <ion-item *ngIf="selectedCategory.name == 'RESORT'">
          <!-- Render resort form fields -->
          <ion-label class="labelform" position="floating">Number of Rooms</ion-label>
          <ion-input #rooms = "ngModel" [(ngModel)]="resortForm.rooms" name="rooms" type="number"     required></ion-input>
          <ion-note slot="error" *ngIf="rooms.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item *ngIf="selectedCategory.name == 'RESORT'">      
          <ion-label class="labelform" position="floating">Number of Pools</ion-label>
          <ion-input #pools = "ngModel" [(ngModel)]="resortForm.pools" name="pools" type="number" required></ion-input>
          <ion-note slot="error" *ngIf="pools.invalid && regForm.submitted">Please enter a valid input.</ion-note>               
        </ion-item>       
      </ion-col>        
      <ion-col>        
        <ion-item *ngIf="selectedCategory.name == 'RESORT'">        
          <ion-label class="labelform"  position="floating">Airconditioned?</ion-label>        
          <ion-select #aircon = "ngModel" name="ac" [(ngModel)] ='resortForm.ac' required>
            <ion-select-option value="yes">Yes</ion-select-option>    
            <ion-select-option value="no">No</ion-select-option>                    
          </ion-select>
          <ion-note slot="error" *ngIf="aircon.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>       
      </ion-col>        
    </ion-row>             
          
    <ion-row>     
      <ion-col>
        <ion-item *ngIf="selectedCategory.name == 'RESORT'">
          <ion-label class="labelform" position="floating">Other Activities</ion-label>
          <ion-input #acts = "ngModel" [(ngModel)]="resortForm.activities" name="activities" type="text" required></ion-input>
          <ion-note slot="error" *ngIf="acts.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col>      
    </ion-row>

    <h1 *ngIf="selectedCategory.name == 'RESORT'" style="font-size: 18px; color: #21757F; font-weight: bold;">Rates</h1>

    <ion-row>
      <ion-col>
        <ion-item *ngIf="selectedCategory.name == 'RESORT'">
          <ion-label class="labelform"  name="from" position="floating">Price Range</ion-label>
          <ion-select #price = "ngModel" name="rates" [(ngModel)]="resortForm.rates" required>
            <ion-select-option *ngFor="let rate of rates" [value]="rate.value">{{ rate.value }}</ion-select-option>
          </ion-select>
          <ion-note slot="error" *ngIf="price.invalid && regForm.submitted">Please enter a valid input.</ion-note>
        </ion-item>
      </ion-col> 
    </ion-row>

    
    <ion-row *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
      <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
        <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
         <ion-label class="labelform" position="floating">Name of Mountain</ion-label>
         <ion-input [(ngModel)]="hikesandtrailsForm.name_mountain" name="name_mountain" type="text" required></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
      <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
        <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
          <ion-label class="labelform"  position="floating">Difficulty</ion-label>
          <ion-select name="difficulty" [(ngModel)] ='hikesandtrailsForm.difficulty' required>
            <ion-select-option value="easy">Easy</ion-select-option>
            <ion-select-option value="moderate">Moderate</ion-select-option>
            <ion-select-option value="hard">hard</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
        <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
          <ion-label class="labelform"  position="floating">Length</ion-label>
          <ion-select name="length" [(ngModel)] ='hikesandtrailsForm.length' required>
            <ion-select-option value="yes">km</ion-select-option>
            <ion-select-option value="no">km</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
        <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
          <ion-label class="labelform"  position="floating">Elevation Gain</ion-label>
          <ion-select name="elevation" [(ngModel)] ='hikesandtrailsForm.elevation' required>
            <ion-select-option value="yes">m</ion-select-option>
            <ion-select-option value="no">m</ion-select-option>
          </ion-select>
       </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
     <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
       <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
         <ion-label class="labelform"  position="floating">Route Type</ion-label>
         <ion-select name="route" [(ngModel)] ='hikesandtrailsForm.route' required>
           <ion-select-option value="loop">Loop</ion-select-option>
           <ion-select-option value="point">Point to Point</ion-select-option>
           <ion-select-option value="out">Out and Back</ion-select-option>
         </ion-select>
      </ion-item>
     </ion-col>
     <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
      <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
        <!-- Render resort form fields -->
        <ion-label class="labelform"  position="floating">Suitability</ion-label>
        <ion-select name="suitability" [(ngModel)] ='hikesandtrailsForm.suitability' required [multiple]="true">
          <ion-select-option value="pet">Pet Friendly</ion-select-option>
          <ion-select-option value="wheelchair">Wheelchair Friendly</ion-select-option>
          <ion-select-option value="kid">Kid Friendly</ion-select-option>
          <ion-select-option value="stroller">Stroller Friendly</ion-select-option>
          <ion-select-option value="paved">Paved</ion-select-option>
          <ion-select-option value="partiallypaved">Partially Paved</ion-select-option>
        </ion-select>
     </ion-item>
    </ion-col>  
   </ion-row>

   <ion-row *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
    <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
      <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
       <ion-label class="labelform" position="floating">Other Activities</ion-label>
       <ion-input [(ngModel)]="hikesandtrailsForm.act" name="act" type="text" required></ion-input>
     </ion-item>
    </ion-col>
  </ion-row>

  <h1 *ngIf="selectedCategory.name == 'HIKES AND TRAILS'" style="font-size: 18px; color: #21757F; font-weight: bold;">Rates</h1>
  <ion-row *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
    <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
      <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
        <ion-label class="labelform"  position="floating">Type of Fee</ion-label>
        <ion-select name="type_fee" [(ngModel)] ='hikesandtrailsForm.type_fee' required>
          <ion-select-option value="RegFee">Registration Fee</ion-select-option>
          <ion-select-option value="EcoFee">Tourism/Ecological Fee</ion-select-option>
          <ion-select-option value="AdFee">Admission/Entrance Fee</ion-select-option>
        </ion-select>
     </ion-item>
    </ion-col>
    <ion-col *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
      <ion-item *ngIf="selectedCategory.name == 'HIKES AND TRAILS'">
        <ion-label class="labelform"  name="from" position="floating">Price Range</ion-label>
        <ion-select name="rates" [(ngModel)]="hikesandtrailsForm.rates" required>
          <ion-select-option *ngFor="let rate of rates" [value]="rate.value">{{ rate.value }}</ion-select-option>
        </ion-select>
     </ion-item>
    </ion-col>
  </ion-row>
  
  <!--Heritage-->
  <ion-row *ngIf="selectedCategory.name == 'HERITAGE'">
    <ion-col *ngIf="selectedCategory.name == 'HERITAGE'">
      <ion-item *ngIf="selectedCategory.name == 'HERITAGE'">
        <ion-label class="labelform"  position="floating">Category</ion-label>
        <ion-select name="categ" [(ngModel)] ='heritageForm.categ' required [multiple]="true">
          <ion-select-option value="cate1">UNESCO World Heritage Site</ion-select-option>
          <ion-select-option value="cate2">National Heritage Site</ion-select-option>
          <ion-select-option value="cate3">Local Heritage Site</ion-select-option>
          <ion-select-option value="cate4">Intangible Cultural Heritage</ion-select-option>
          <ion-select-option value="cate5">Natural Heritage Site</ion-select-option>
          <ion-select-option value="cate6">Religious Heritage Site</ion-select-option>
          <ion-select-option value="cate7">Industrial Heritage Site</ion-select-option>
          <ion-select-option value="cate8">Archaeological Heritage Site</ion-select-option>
          <ion-select-option value="cate9">Architectural Heritage Site</ion-select-option>
          <ion-select-option value="cate10">Literary Heritage Site</ion-select-option>
          <ion-select-option value="cate11">Cultural Landscape</ion-select-option>
          <ion-select-option value="cate12">Traditional Craft Heritage Site</ion-select-option>
          <ion-select-option value="cate13">Indigenous Heritage Site</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col *ngIf="selectedCategory.name == 'HERITAGE'">
      <ion-item *ngIf="selectedCategory.name == 'HERITAGE'">
        <ion-label class="labelform"  position="floating">Accessibility</ion-label>
        <ion-select name="accessibility" [(ngModel)] ='heritageForm.accessibility' required [multiple]="true">
          <ion-select-option value="Wheelchair">Wheelchair Ramps</ion-select-option>
          <ion-select-option value="Braille">Braille Signage</ion-select-option>
          <ion-select-option value="Restrooms">Accesible Restrooms</ion-select-option>
          <ion-select-option value="Augio Guides">Audio Guides for Visually Impaired</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="selectedCategory.name == 'HERITAGE'">
    <ion-col *ngIf="selectedCategory.name == 'HERITAGE'">
      <ion-item *ngIf="selectedCategory.name == 'HERITAGE'">
        <ion-label class="labelform" position="floating">Date of Establishment</ion-label>
        <ion-input [(ngModel)]="heritageForm.date_heritage" name="date_heritage" type="text" required></ion-input>
      </ion-item>
    </ion-col>
    <ion-col *ngIf="selectedCategory.name == 'HERITAGE'">
      <ion-item *ngIf="selectedCategory.name == 'HERITAGE'">
        <ion-label class="labelform"  position="floating">Guided Tours</ion-label>
        <ion-select name="guidedtours" [(ngModel)] ='heritageForm.guidedtours' required >
          <ion-select-option value="Guided">Yes, guided tours available</ion-select-option>
          <ion-select-option value="Not Guided">No, self-guided tours only</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col *ngIf="selectedCategory.name == 'HERITAGE'">
      <ion-item *ngIf="selectedCategory.name == 'HERITAGE'">
        <ion-label class="labelform"  position="floating">Photography/Video Policy</ion-label>
        <ion-select name="photography" [(ngModel)] ='heritageForm.photography' required [multiple]="true">
          <ion-select-option value="p1">Photography Allowed</ion-select-option>
          <ion-select-option value="p2">Videography Allowed</ion-select-option>
          <ion-select-option value="p3">Restrictions on Flash Photography</ion-select-option>
          <ion-select-option value="p4">Restrictions on commercial photography/videography</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="selectedCategory.name == 'HERITAGE'">
    <ion-col *ngIf="selectedCategory.name == 'HERITAGE'">
      <ion-item *ngIf="selectedCategory.name == 'HERITAGE'">
        <ion-label class="labelform"  position="floating">Facilities</ion-label>
          <ion-select name="facilities" [(ngModel)] ='heritageForm.facilities' required [multiple]="true">
            <ion-select-option value="f1">Restrooms</ion-select-option>
            <ion-select-option value="f2">Parking area</ion-select-option>
            <ion-select-option value="f3">Visitor center</ion-select-option>
            <ion-select-option value="f4">Cafeteria/Restaurant</ion-select-option>
            <ion-select-option value="f5">Picnic area</ion-select-option>
            <ion-select-option value="f6">Gift shop</ion-select-option>
            <ion-select-option value="f7">Souvenir shop</ion-select-option>
            <ion-select-option value="f8">Drinking water stations</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <h1 *ngIf="selectedCategory.name == 'HERITAGE'" style="font-size: 18px; color: #21757F; font-weight: bold;">Rates</h1>

  <ion-row *ngIf="selectedCategory.name == 'HERITAGE'">
    <ion-col *ngIf="selectedCategory.name == 'HERITAGE'">
      <ion-item *ngIf="selectedCategory.name == 'HERITAGE'">
        <ion-label class="labelform"  name="from" position="floating">Price Range</ion-label>
        <ion-select name="rates" [(ngModel)]="heritageForm.rates" required>
          <ion-select-option *ngFor="let rate of rates" [value]="rate.value">{{ rate.value }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

<!--Additional Info-->
    <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">Additional Information</h1>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Description</ion-label>
          <ion-textarea #desc = "ngModel" [(ngModel)]="description"  name="description" type="text" required rows="4" placeholder="Enter description here"></ion-textarea> 
         </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 style="font-size: 15px; color: #21757F; font-weight: bold;">Photos</h1>
        <ion-item >
            <ion-icon size="large"style="color: #21757F; margin-right: 12px;"name="images-outline"></ion-icon>
            <ion-button name="photos" (click)="takePicture()">Upload Photo</ion-button>
         </ion-item>
        </ion-col>
      <ion-col>
        <h1 style="font-size: 15px; color: #21757F; font-weight: bold;">Certificates</h1>
        <ion-item>
          <ion-icon size="large" style="color: #21757F; margin-right: 12px;margin-top:-30px;" name="document-attach-outline"></ion-icon>
          <ion-input type="file"  (change)="selectFile($event)" name="certs"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="photosAndCerts">
          <img *ngIf="image" [src]="image">
        </div>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-button type="submit" expand="block" shape="round" size="medium" color="primary" class="register-button">Register</ion-button>
  </form> 
 
</ion-content>