<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="search">
      <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
    </ion-col>

  </ion-row>
  <ion-row class="try">
    <ion-col class ="tablecol">
  <!--     <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">CONTACT PERSON</h1> -->
      <ion-item class="table-item">
        <ion-grid class="table">
          <ion-row class="table-row">
            <ion-col class="columns" size="1">Date</ion-col>
            <ion-col class="columns"size="0.8">Time</ion-col>
            <ion-col class="columns"size="2">Name of Establishment</ion-col>
            <ion-col class="columns"size="2.3">Location</ion-col>
            <ion-col class="columns"size="0.9">Business Email</ion-col>
            <ion-col class="columns"size="1.6">Action</ion-col>
            <ion-col class="columns"size="1.7">Selection</ion-col>
          
          </ion-row>
          <ion-row *ngFor="let estab of estabList" class="table-row">
            <ion-col class="col"size="1">{{estab.bus_regYear + '/' + estab.bus_regMonth + '/' + estab.bus_regDate}}</ion-col>   
            <ion-col class="col"size="0.8">{{estab.bus_regHour +':'+ estab.bus_regMins}}</ion-col> 
           <ion-col class="col"size="1.9">{{estab.bus_name}}</ion-col>   
           <ion-col class="col"size="2.3">{{estab.bus_add1 +" "+ estab.bus_add2 +" "+ estab.bus_brgy +" "+ estab.bus_city}}</ion-col>   
           <ion-col class="col"size="0.9">{{estab.bus_email}}</ion-col>
           <ion-col class="col"size="1.6"><ion-button shape="round" size="small" color="primary" class="regbutton" (click)="setOpen(true, estab)">View Full Request</ion-button></ion-col>
           <ion-col class="cols"si  ze="1.7"><ion-select class="cols"required>
            <ion-select-option value="Approve">Approve Request</ion-select-option>
            <ion-select-option value="Decline">Decline Request</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select></ion-col>
      
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>All Information</ion-title>
          <ion-buttons slot="end">
            <ion-button style="color: azure;"(click)="isModalOpen = false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list class="register-form">
          <!-- First row -->
          <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">User Information</h1>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input  [(ngModel)] = "user_lname" name="user_lname" label="Last Name" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
              <ion-input [(ngModel)] = "user_fname" name="user_fname" label="First Name" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
              <ion-input [(ngModel)] = "user_mname" name="user_mname" label="Middle Name" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
          <ion-col>
            <ion-item>
            <ion-input [(ngModel)] = "user_contact" name="user_contact" label="Contact Number" labelPlacement="stacked"[readonly]="true"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
            <ion-input [(ngModel)] = "user_email" name="user_email" label="Email Address" labelPlacement="stacked"[readonly]="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
            <ion-input [(ngModel)] = "bus_username" name="bus_username" label="Business Username" labelPlacement="stacked"[readonly]="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

          
          <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">Establishment Information</h1>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input [(ngModel)] = "bus_name" name="bus_name" label="Name of Establishment" labelPlacement="stacked" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
           <!-- Second Row -->
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input [(ngModel)] = "user_pos" name="user_pos" label="Position in Establishment" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Third Row -->
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input [(ngModel)] = "bus_loc" name="bus_loc" label="Location of Establishment" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">Operating Hours & Days</h1>
          <!-- Fourth Row -->
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="From" value="12:00" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
              <ion-input label="To" value="1:00" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="Days Open" value="Monday, Tuesday, Wednesday, Thursday, Friday, Saturday" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">Contact Persons</h1>
          <!-- Fifth Row -->
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input  label="Name" value="Kaila Guerrero" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Sixth Row -->
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="Position" value="Owner" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Seventh Row -->
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="Contact Number" value="1234567890" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Eighth Row -->
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="Address" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Ninth Row -->
          <ion-row>
            <ion-col>
              <br>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input  [(ngModel)] = "bus_exlink" name="bus_exlink" label="External Websites" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input  [(ngModel)] = "bus_email" name="bus_email" label="Business Email" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>


          <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">Category</h1>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="Category" value="Resort" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>



          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="No. of Rooms" value="5" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
              <ion-input label="No. of Pools" value="3" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="Airconditioned" value="Yes" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input label="Other Activities" value="windsurfing, snorkeling, surfing, swimming" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">Rates</h1>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-input  [(ngModel)] = "bus_rates" name="bus_rates" label="From" labelPlacement="stacked"[readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <br>
          <ion-row>
            <ion-col>
              <ion-item>
              <ion-textarea  [(ngModel)] = "bus_desc" name="bus_desc" rows="4" label="Description" labelPlacement="stacked"[readonly]="true"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>

          <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">Attachments</h1>
          <ion-row>
            <ion-col>
              <h1 style="font-size: 12px; color: #21757F; font-weight: bold;">Photos</h1>
              <ion-item>
                   <!-- DITO LALAGAY PHOTOS --> 
                     
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h1 style="font-size: 12px; color: #21757F; font-weight: bold;">Certificates</h1>
              <ion-item>
                   <!-- DITO LALAGAY PHOTOS -->   
              </ion-item>
            </ion-col>
          </ion-row>

          




        


</ion-list>      
          
          
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>



  
