<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="search">
      <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
    </ion-col>

  </ion-row>
  <ion-row class="try">
    <ion-col class ="tablecol">
  <!--     <h1 style="font-size: 18px; color: #21757F; font-weight: bold;">CONTACT PERSON</h1> -->
      <ion-item class="table-item">
        <ion-grid class="table">
          <ion-row class="table-row">
            <ion-col class="columns">Date</ion-col>
            <ion-col class="columns">Time</ion-col>
            <ion-col class="columns">Name of Establishment</ion-col>
            <ion-col class="columns">Position</ion-col>
            <ion-col class="columns">Location</ion-col>
            <ion-col class="columns">Business Email</ion-col>
            <ion-col class="columns">Action</ion-col>
            <ion-col class="columns">Selection</ion-col>
          
          </ion-row>
          <ion-row class="table-row">
            <ion-col class="col">mm/dd/yyyy</ion-col>   
            <ion-col class="col">00:00</ion-col> 
           <ion-col class="col">Kaila Guerrero</ion-col>   
           <ion-col class="col">CEO</ion-col>   
           <ion-col class="col">Earth City</ion-col>   
           <ion-col class="col">kailaguerrero@gmail.com</ion-col>
           <ion-col class="col"><ion-button shape="round" size="small" color="primary" class="regbutton" (click)="setOpen(true)">View Full Request</ion-button></ion-col>
           <ion-col class="cols"><ion-select class="cols"required>
            <ion-select-option value="Approve">Approve Request</ion-select-option>
            <ion-select-option value="Decline">Decline Request</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select></ion-col>  
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button style="color: azure;"(click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>



  
