<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" scrollX="true">
    <div class="search">
      <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
    </div>
        <ion-grid scrollX="true" class="table" fixed="true">
          <ion-row class="table-row">
            <ion-col class="columns" size="2">Username</ion-col>
            <ion-col class="columns" size="2">Full Name</ion-col>
            <ion-col class="columns" size="2">Email</ion-col>
            <ion-col class="columns" size="2">Contact Number</ion-col>
            <ion-col class="columns" size="2">View Profile</ion-col>
            <ion-col class="columns" size="2">Selection</ion-col>
          </ion-row>
          <ion-row class="reg-data" *ngFor = "let user of usersList">
            <ion-col class="col" size="2">{{user.uname}}</ion-col>
            <ion-col class="col" size="2">{{user.fname + ' ' + user.mname + ' ' + user.lname}}</ion-col>
            <ion-col class="col" size="2">{{user.email}}</ion-col>
            <ion-col class="col" size="2">{{user.contact}}</ion-col>
            <ion-col class="col" size="2"><ion-button id="btnView">View</ion-button></ion-col>
            <ion-col class="col" size="2"></ion-col>
          </ion-row> 
        </ion-grid>
</ion-content>