ion-header {
    --ion-background-color: var(--ion-color-primary);
   
  }


  .reg-data{
    color:black;
    background-color: white;
  }

  .columns{
    background-color: #21757F; 
    color:white;
    font-weight: bolder;
    text-align: left;
  }

  .col{
    text-align: left;
    top: 10%;
  }
  .cols{
    text-align:right;
    left:2%;
    bottom: 10%;
  }
  ion-title{
    color: azure;
  }

  ion-menu-button{
    color:azure;
  }

  .table-row {
    display: flex;
    flex-wrap: wrap;
  }

  .regbutton{
    max-width: 150px;
  }

  .search{
    left: 49%;
    max-width: 50%;
  }




  @media (max-width: 576px), (max-width:800px) {
  
.table-row{
  display: flex;
  flex-wrap:nowrap;
}

.columns{
  padding: 1px;
  font-size: 10px;
}

.col{
  padding: 1px;
  font-size: 10px;
}

#btnView{
  size:small;
}

  }