

<ion-content class="ion-padding login-page">
  <div class="login-container">

      <ion-img class="logo" src="assets/icon/logoTE.jpg"></ion-img>
    


    
  <ion-segment [(ngModel)]="loginType">
    <ion-segment-button value="user">
      <ion-label style="font-size: 10px;">Login as User</ion-label>
    </ion-segment-button>

    <ion-segment-button value="admin">
      <ion-label style="font-size: 10px;">Login as Admin</ion-label>
    </ion-segment-button>
  </ion-segment>


    <ion-list *ngIf="loginType === 'user'" class="login-form">
      <ion-item>
  <ion-icon name="person-outline" size="medium" style="margin-bottom: -2%; margin-right: 6%; color: #21757F;"></ion-icon>
        <ion-input label="Username" labelPlacement="floating"  type="text" placeholder="Enter your username" >
        </ion-input>
      </ion-item>  

      <ion-item>
          <ion-icon name="lock-closed" size="medium" style="margin-bottom: -2%; margin-right: 6%; color: #21757F;"></ion-icon>
        <ion-input label="Password" labelPlacement="floating" type="password" placeholder="Enter your password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" size="medium" color="primary" class="login-button">Login</ion-button>
      <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div>

      <div class="Register">
        <a style="font-size: 13px;" href="register">Register as User</a>
      </div>

      <div class="Through-google">
        <a href="#">Sign-in through google</a>
      </div>
    </ion-list>
    <ion-list *ngIf="loginType === 'admin'" class="login-form">
      <ion-item>
  <ion-icon name="person-outline" size="medium" style="margin-bottom: -2%; margin-right: 6%; color: #21757F;"></ion-icon>
        <ion-input label="Username" labelPlacement="floating"  type="text" placeholder="Enter your username" >
        </ion-input>
      </ion-item>  

      <ion-item>
          <ion-icon name="lock-closed" size="medium" style="margin-bottom: -2%; margin-right: 6%; color: #21757F;"></ion-icon>
        <ion-input label="Password" labelPlacement="floating" type="password" placeholder="Enter your password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" size="medium" color="primary" class="login-button">Login</ion-button>


      <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div>

      <div class="Register">
        <a style="font-size: 13px;"href="register-est">Register as Admin</a>
      </div>

      <div class="Through-google">
        <a href="#">Sign-in through google</a>
      </div>
    </ion-list>
  </div>
</ion-content>