.login-page {
    --background: url('/assets/bg-login.png') no-repeat center center;
    --background-size: cover;
    --max-width: fit-content;
    
  }

//comment
  
  .login-container {
    max-width: 500px;
   margin:auto;
   
    text-align: center;
  }
 
  
  .logo {
    margin-bottom: 2rem;

  
  }
  ion-img {
    max-width: 800px;
    max-height: 800px;
    margin-left: -50px;
  }
  


  ion-item ion-input{
    --highlight-color-focused:#6ac5f6;
    --color:#787575;
      margin-bottom: 10px;
      font-size: 22px;
  }

  .login-form {
    background-color: #ffffff00;
    border-radius: 8px;
    padding:1.50rem;

  }
  
  .login-button {
    margin-top: 1.5rem;
    color: #ffffff;
  }

  .forgot-password {
    margin-left: 70%;
    margin-top: 1rem;
    font-size: 0.85rem;
  }
  
  .forgot-password a {
    color: #272929;
  }

  .Register{
    margin-top: 5%;
    margin-bottom: 8%;
  }

  .Register a{
    text-decoration: none;
    font-weight: bold;
  }

  .Through-google a{
    color:#272929;
    text-decoration: none;

  }


  ion-item {
    ion-label {
      font-size: 100px; /* Adjust the font size to your desired value */
    }
  }



  // PHONE RESPONSIVE SIZES!!! -------------------------------------------------------------------
  @media (max-width: 576px), (max-width:800px) {
    .login-page {
      --background: url('/assets/bgp-login-try.png') no-repeat center bottom ;
      --background-size:100% 100%;
      
    }
    .login-container {
      max-width: 400px;
      max-height: 100px;
      margin:auto;
      margin-top: 5%;
      text-align: center;
    }

    ion-img {
      max-width: 300px;
      max-height: 210px;
      margin-left: 10px;
      margin-bottom: -100px;
    }

    .forgot-password {
      margin-left: 60%;
      margin-top: 0.5rem;
      font-size: 0.85rem;
    }
      


  

  }