<ion-content>
  <div class="container">
    <div class="ver-background-container">
      <img class="ver-background" src="assets/bg-ver.png" alt="Background Image">
      <img class="transLogo-image" src="assets/icon/transLogo.png" alt="TransLogo Image">
    </div>
    <div class="card-container">
      <ion-card class="custom-card">
        <ion-card-content>
          <div class="verify-header">
            <br/><br/>
            <img class="mail-image" src="assets/mail.png" alt="Mail Image">
            <div class="verify-title-container">
              <h1 class="verify-title">Verify your Email</h1>
            </div>
            <br>
            <p class="verify-subtext1">
              We've sent an email to <span [innerHTML]="email"></span> to verify your email address and
              <br />activate your account. The link in the email will expire in <strong class="hours">24 hours.</strong>
            </p>
            <br>
            <p class="verify-subtext2"><a class="click" (click) = "clickHere()"><strong>Click here</strong></a> if you did not receive an email.
            </p>
            <br /><br/><br/><br/><br/><br/><br>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>




