<ion-header>
  <ion-toolbar>
    <ion-menu-buttons slot="end">
      <ion-menu-button color = "dark" menu="home-menu"></ion-menu-button>
    </ion-menu-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" main scroll-y="true" id="main-content">
  <swiper-container #swiper (ionSlideDidChange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true" *ngIf="loginType === 'trending'">
    <swiper-slide>
      <div class="slide-content">
        <div id="info">
          <strong class="place">NASUGBU BATANGAS</strong>
          <p><br>Unveiling the Hidden Gems of Nasugbu! Get ready to be captivated by the amazing tourist spots this charming town has to offer
            Dive into the crystal-clear waters of Calayo Beach, hike through the lush trails of Mount Batulao, and Immerse yourself in history at the century-old 
            Cape Santiago Lighthouse. Indulge in delectable seafood delights at Barangay Wawa or experience the thrill of cliff diving at Layag Layag Beach. 
            Nasugbu is a treasure trove of unforgettable experiences. Start your adventure today and uncover the wonders that await!</p>
          <ion-button shape="round">Explore</ion-button>
        </div>
        <img class="swiper-bg" src="assets/bg-Nasugbu.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <div id="info">
          <strong class="place">MABINI BATANGAS</strong>
          <p><br>Calling all adventures and beach lovers! Discover the pristine beauty of Mabini, Batangas.<br>
            Join us as we invite explorers like you to experience the breathtaking beaches, crystal-clear waters<br>
            and captivating coastal charm. Unwind, relax, and create unforgettable memories<br>
            along the shores of Nasugbu. Pack your bags and let the exploration begin!</p>
          <ion-button shape="round">Explore</ion-button>
        </div>
        <img class="swiper-bg" src="assets/bg-Mabini.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <div id="info">
          <strong class="place">TAAL BATANGAS</strong>
          <p><br>Immerse yourself in the captivating melodies and vibrant traditions of Taal, a musical haven nestled in the Philippines. <br>
            From the mesmerizing beats of traditional drums to the soul-stirring sounds of local instruments, Taal offers an unforgettable experience
            <br>for music lovers and cultural enthusiasts alike. Uncover the rich tapestry of this musical heritage, explore its historic landmarks,
            <br>and indulge in the warmth of Filipino hospitality. Join us on a remarkable journey to Taal,
            <br>where the symphony of music and culture awaits</p>
          <ion-button shape="round">Explore</ion-button>
        </div>
        <img class="swiper-bg" src="assets/bg-Taal.png" />
      </div>
    </swiper-slide>
  </swiper-container>

  <div>
   
  </div>

  


  <div *ngIf="loginType === 'default'" class="login-form">
    
    <ion-card class="estab-info">
      <img class="home-estab" src="assets/home/Nasugbu-Pico.jpg" />
      <ion-card-header>
        <ion-card-title class="estab-name"> PICO DE LORO </ion-card-title>
        <ion-card-subtitle class="municipality">Nasugbu Batangas <br></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="estab-cont">
        Pico de Loro is a haven of eco-friendly tourism tucked behind the mountains and a lush cover of trees as far as the eyes can see on one side and the blue expanse
        of the West Philippine Sea on the other. It is primarily for members but they do have Pico Sand Hotel for walk-in guests but do book way in advance because in the
        Philippines, it is always summer. The design and architecture is very modern and takes great advantage of the breeze blowing from the ocean. There are golf carts
        to take you around the resort and very courteous staff that attend to your every need. Pico de Loro offers a host of indoor and outdoor activities that will surely
        make your stay the most memorable of all. <br>
      </ion-card-content>
      <div class="explore-container">
        <ion-button class="explore-button" shape="round">Explore</ion-button>
      </div>
    </ion-card>
    <ion-card class="estab-info">

      <img class="home-estab" src="assets/home/Nasugbu-Batulao.jpg" />
      <ion-card-header>
        <ion-card-title class="estab-name">MOUNT BATULAO </ion-card-title>
        <ion-card-subtitle class="municipality">Nasugbu Batangas <br></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="estab-cont">
        Want to get away from the city? Mt. Batulao is regarded as one of the best destinations for trekking and mountain climbing because of its accessibility to the metropolis,
        particularly for beginners. You'll be able to take in the fresh breeze, stunning rock formations, and vast meadows in two to three hours. The stunning 360-degree panorama 
        of Batangas and its adjacent cities, as well as the gorilla-shaped ridge line near the summit, are also must-sees. The ascent is not particularly strenuous. Because the 
        residents are so welcoming and friendly, safety is also not a concern. You only need to carry a spirit of pleasure and adventure on your journey up to Mt.  Batulao. <br>
      </ion-card-content>
      <div class="explore-container">
        <ion-button class="explore-button" shape="round">Explore</ion-button>
      </div>    
    </ion-card>
    <ion-card class="estab-info">
      <img class="home-estab" src="assets/home/Mabini-Casa.jpg" />
      <ion-card-header>
        <ion-card-title class="estab-name">CASA AZUL RESORT ANILAO </ion-card-title>
        <ion-card-subtitle class="municipality">Mabini Batangas <br></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="estab-cont">
        Escape to the tropical paradise of Casa Azul Anilao, where pristine beaches, breathtaking views, and luxurious accommodations await you. Located in the heart of 
        Anilao, Philippines, resort offers an unforgettable getaway for nature lovers, adventure seekers, and those seeking ultimate relaxation. Immerse yourself in the stunning 
        beauty of Anilao's crystal-clear waters, vibrant coral reefs, and diverse marine life. Whether you're a snorkeling enthusiast or a seasoned scuba diver, resorts provides 
        easy access to some of the world's best diving spots, allowing you to explore an underwater wonderland teeming with colorful fish and mesmerizing sea creatures. <br>
      </ion-card-content>
      <div class="explore-container">
        <ion-button class="explore-button" shape="round">Explore</ion-button>
      </div>   
    </ion-card>
    
  <ion-card class="estab-info">
    <img class="home-estab" src="assets/home/Mabini-Gulugod.jpg" />
    <ion-card-header>
      <ion-card-title class="estab-name">MT. GULUGOD BABOY'S TRAIL</ion-card-title>
      <ion-card-subtitle class="municipality">Mabini Batangas <br></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="estab-cont">
      Conquer the Majestic Mt. Gulugod Baboy Trail: Embark on a thrilling adventure through lush landscapes, panoramic vistas, and pristine nature. Hike to the summit of 
      Mt. Gulugod Baboy and witness breathtaking views that will leave you in awe. Experience the beauty of untouched wilderness, feel the rush of adrenaline, and create memories 
      that will last a lifetime. Unleash your inner explorer and conquer Mt. Gulugod Baboy's Trail today. <br>
    </ion-card-content>
    <div class="explore-container">
      <ion-button class="explore-button" shape="round">Explore</ion-button>
    </div>  
  </ion-card>

  <ion-card class="estab-info">
    <img class="home-estab" src="assets/home/Taal-Basilica.jpg" />
    <ion-card-header>
      <ion-card-title class="estab-name">MINOR BASILICA OF SAINT MARTIN OF TOURS</ion-card-title>
      <ion-card-subtitle class="municipality">Taal Batangas <br></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="estab-cont">
      Explore the grandeur of one of the Philippines' most iconic landmarks. Immerse yourself in the rich heritage and religious significance of the Basilica Church in Taal, 
      known for its stunning architecture and intricate details. Marvel at the awe-inspiring interiors, adorned with exquisite religious art and artifacts. Experience a sense of 
      reverence and tranquility as you discover the spiritual heart of Taal. Visit the Basilica Church and embrace the fusion of faith, history, and architectural beauty. <br>
    </ion-card-content>
    <div class="explore-container">
      <ion-button class="explore-button" shape="round">Explore</ion-button>
    </div>  
  </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar id = "bottom-tabs">
    <ion-segment [(ngModel)]="loginType">
      <ion-segment-button value="trending" size = "medium">
        <ion-icon name="trending-up-outline"></ion-icon>
        <ion-label>Trends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="default">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="filter" size = "medium">
        <ion-icon name="filter-outline"></ion-icon>
        <ion-label>Filter</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

<ion-menu menu-id="home-menu" contentId ="main-content" slot="end">
  <ion-header >
    <ion-toolbar id="menuHead">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="menuCon">
    <div class="profile">
      <div class="profilePicCon">
        <ion-icon name="person-circle-outline" id="profilePic"></ion-icon>
      </div>
      <div id="username">
        Username
      </div>
    </div>
    
    
    <ion-list>
      <ion-menu-toggle>
        <ion-item *ngIf="!(auth.user | async)" routerLink = "/login">
          <ion-label>Login/Signup</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink = "/profile">
          <ion-label>Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink = "/account">
          <ion-label>Account</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink = "/help&support">
          <ion-label>Help & Support</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink = "/settingd">
          <ion-label>Settings & Privacy</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click) = "logout()" *ngIf="(auth.user | async)" routerLink="">
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink = "/register-est">
          <ion-label>Register Establishment</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>


