/* .login-page {
    --background: url('C:/Users/kaila/Desktop/Projects/try-app/src/assets/bgreg.png') no-repeat center center;
    --background-size: cover; 

   
  } */



  .background{
    
    position:relative;
    left:-30px;
    top:-11%;
    margin-bottom: -50%;
    z-index: 1;
    height: 100%;
    max-width: auto;
   
  

    

    
      }


  .register-header {
    position:relative;
    text-align: right;
    padding: 2rem;
    margin-right: 7%;
  margin:auto;
    z-index: 2;

  }
  
  .register-title {
    font-size: 4.5rem;
    font-weight: bolder;
    margin-bottom: -20px;
    color: #21757F;
  }
  
  .register-subtext {
    width:45%;
    font-size: 1.3rem;
    color: #032023;
  margin-left: 55%;
  }





.register-form  {
  position: relative;
    width:55%;
    margin-left:37%;
z-index: 2;
  }

ion-col{
    margin-top: 2%;
}

.labelform{
    font-size: 15px;
    color: #737373;
}

.required{
    color:red;
    margin-left: 10px;
}

.register-button{
  position: relative;
    max-width: 150px;
    margin-left: 82% ;
    margin-top: 3%;
    font-size: 16px;
    z-index: 2;
}

@media (max-width: 576px), (max-width:800px) {

/*   .login-page {
    --background: url('C:/Users/kaila/Desktop/Projects/try-app/src/assets/longregphone.png') no-repeat center top;
    --background-cover: cover;
    
    
  } */

/*   img {
    content: url("/path/here/to/image.png");
} */

.background{
  content: url("/assets/bg-reg-p.png");
  max-width: fit-content;
  top:-6%;


  
    }


  .register-header {
    text-align: center;
    padding: 2rem;
    margin-right: -5%;
    top: -40%;

  }
  
  .register-title {
    
    font-size: 2.9rem;
    font-weight: bolder;
    margin-bottom: -10px;
    color: #21757F;
  }
  
  .register-subtext {
    width: 90%;
    margin-left: 3%;
    font-size: 1.3rem;
    color: #032023;
  }



  
.register-form  {
  width:100%;
 top: -40%;
  margin-left:-15%;



  


}


ion-col{
margin-left: 25%;
}


.register-button{
  max-width: 300px;
  margin-left:3% ;
  top: -20%;
}


}
