

<ion-content class="ion-padding login-page">

  <img class="background" src="assets/bg-reg.png"/>

  <div class="register-header">
    <h1 class="register-title">Register Now</h1>
    <p class="register-subtext">Embark on Your Journey with Us! Join TourEase and Unlock a World of Travel Possibilities.</p>
  </div>




  <ion-list class="register-form" (ngSubmit)="onSubmit()">
    <!-- First row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Last Name<span class="required">*</span></ion-label>
          <ion-input name="lname"  [(ngModel)] ='lname' type="text" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">First Name<span class="required">*</span></ion-label>
          <ion-input name="fname" [(ngModel)] ='fname' type="text" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform"position="floating">Middle Name</ion-label>
          <ion-input name="mname" [(ngModel)] ='mname' type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Second row -->
    <ion-row>
      <ion-col>
        <ion-item style="margin-top: -2.5px;">
          <ion-label class="labelform">Birthday<span class="required">*</span></ion-label>
          <ion-input class="labelform" style="color: black;" [readonly] = true name = 'bdaylbl' [(ngModel)] = 'bdaylbl' ngDefaultControl></ion-input>
          <ion-button expand="full" color="light" (click)="openDatePicker()">
            Select Date
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label  class="labelform" position="floating">Age<span class="required">*</span></ion-label>
          <ion-input name="age" [(ngModel)] ='age' type="number" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Gender<span class="required">*</span></ion-label>
          <ion-select name="gender" [(ngModel)] ='gender' required>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Third row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Contact Number<span class="required">*</span></ion-label>
          <ion-input name="contact" [(ngModel)] ='contact' type="tel" pattern="^\+63\d{10}$" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Email Address<span class="required">*</span></ion-label>
          <ion-input name="email" [(ngModel)] ='email' type="email" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Fourth row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Exact Address<span class="required">*</span></ion-label>
          <ion-input name="address" [(ngModel)] ='address' required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Fifth row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Username<span class="required">*</span></ion-label>
          <ion-input name="uname" [(ngModel)] ='uname' type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Sixth row -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating">Password<span class="required">*</span></ion-label>
          <ion-input name="pword" [(ngModel)] ='pword' type="password" required></ion-input>
          
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="labelform" position="floating" errorText="Passwords don't match">Re-enter Password<span class="required">*</span></ion-label>
          <ion-input name="pword2" [(ngModel)] ="pword2" type="password" required></ion-input>
          <ion-note slot="error" *ngIf="pword != pword">Passwords don't match</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-button (click)="onSubmit()" type="submit" expand="block" shape="round" size="large" color="primary" class="register-button">Register</ion-button>
</ion-content>